/.vscode
/BSMS-GNN
/__pycache__
/docs
/dummy.py
/example_bsms_train.py
/training_runs
/visualize_bsms.py
/wandb
Precision_comparison.xlsx
bsms_hierarchy_airfoil_2d.png
bsms_hierarchy.png
CLAUDE.md
**/pycache/
*.pyc
report_multiscale_properties.py
models/BSMS_README.md
